<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="databaseConnection" class="org.blitmatthew.database.DatabaseConnection" />
    <bean id="connection" factory-bean="databaseConnection" factory-method="getConnection" />
    <bean id="vehicleRepository" class="org.blitmatthew.repository.VehicleRepository">
        <constructor-arg ref="connection" />
    </bean>

</beans>
