<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="v6Engine" class="org.blitmatthew.vehicle.V6Engine" />
    <bean id="automaticTransmission" class="org.blitmatthew.vehicle.AutomaticTransmission" />
    <bean id="carV6" class="org.blitmatthew.vehicle.Car">
        <constructor-arg index="0" ref="v6Engine" />
        <constructor-arg index="1" ref="automaticTransmission"/>
    </bean>
</beans>